ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.header {
  height: 100px;
  background-image: linear-gradient(to right, rgb(20, 13, 26), rgb(183, 30, 243));
 }
